.hero__contact {
    display: flex;
}

.hero__title {
    font-size: 64px;
    font-weight: 800px;
    line-height: 80px;
    margin-top: 215px;
}

.hero__img1 {
    margin-top: 300px;
    margin-right: 50xp;
    margin-left: 15px;
}

.hero__description {
    font-size: 24px;
    color: #8F95A5;
    padding-top: 40px;
    line-height: 35px;
}

.hero__img2 {
    margin-top: 170px;
    margin-left: 130px;
    width: 661px;
    height: 661px;
}

.hero2__card:hover img {
    transform: scale(1.2);
}

.hero2__title {
    font-size: 48px;
    text-align: center;
    margin-top: 147px;
}

.hero2__card {
    width: 435px;
    height: 894px;
    background-color: whitesmoke;
    margin-top: 92px;
    border-radius: 10px;
}

.hero2__card img {
    padding-top: 35px;
    padding-left: 23px;
    padding-right: 22px;
    transition: 0.7s;
}

.hero2__subtitle {
    font-size: 30px;
    padding-left: 43px;
    padding-top: 5px;
}

.hero2__description {
    color: #8F95A5;
    line-height: 25px;
    padding-left: 43px;
    padding-top: 15px;
}

.hero2__contact {
    display: flex;
}

.hero2__card2 {
    width: 434px;
    height: 531px;
    margin-left: 18px;
}

.hero2__card2 img {
    margin-top: -40px;
    margin-left: 102px;
    margin-right: 19px;
}

.hero2__card3 {
    width: 885px;
    height: 343px;
    margin-top: 20px;
    margin-left: 18px;
    display: flex;
}

.hero2__subtitle2 {
    padding-top: 43px;
}

.hero2__card3 img {
    padding-top: 43px;
    padding-left: 160px;
}

.hero2__card4 {
    width: 435px;
    height: 532px;
    margin-left: -430px;
}

#About {
    margin-top: 282px;
}

.about__number {
    display: flex;
    gap: 108px;
    margin-top: 35px;
}

.about__title {
    font-size: 48px;
}

.about__description {
    font-size: 20px;
    color: #8F95A5;
    padding-top: 23px;
    line-height: 27px;
}

.about__number2 {
    font-size: 48px;
}

.about__description2 {
    font-size: 20px;
    color: #8F95A5;
    padding-top: 20px;
}

.about__description3 {
    margin-left: -30px;
}
.about__number3{
    margin-left: 30px;
}

.about__contact {
    display: flex;
}

.about__contact img {
    margin-top: -350px;
    margin-left: 140px;
    width: 500px;
    height: 500px;
    transition: 0.7s;
}

.about__contact:hover img {
    transform: scale(1.1);
}

#Pricing {
    margin-top: 188px;
}

.pricing__title {
    font-size: 30px;
    padding-top: 40px;
}

.pricing__description {
    font-size: 20px;
    padding-top: 19px;
    color: grey;
    line-height: 28px;
}

.pricing__span {
    background-color: #EEEEEE;
    padding: 15px;
    gap: 10px;
    display: flex;
    width: 240px;
    height: 45px;
    border-radius: 5px;
    align-items: center;
    margin-top: 29px;
    padding-left: 25px;
}

.pricing__card img {
    transition: 0.7s;
}

.pricing__contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricing__span2 {
    margin-top: 50px;
}

.pricing__card2 {
    margin-top: 20px
}

.pricing__card3 {
    margin-top: -30px;
}

.pricing__span3 {
    margin-top: 50px;
}

.pricing__card:hover img {
    transform: scale(1.2);
}

#contact {
    margin-top: 272px;
}

.contact__head {
    display: flex;
    gap: 111px;
}

.contact__title {
    font-size: 48px;
    margin-top: 20px;
}

.contact__discription {
    font-size: 20px;
    padding-top: 37px;
    line-height: 30px;
    color: #8F95A5;
    font-size: 20px;
}
form{
    display: flex;
    gap: 12px;
}

.contact__email {
    width: 450px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #8F95A5;
    outline: none;
    padding-left: 45px;
    font-size: 18px;
    margin-top: 52px;
}
.contact__head:hover img{
    transform: scale(1.1);
}
.contact__head img{
    transition: 0.7s;
}